<footer class="footer">

  <nav class="base-links">

    <dl>
      <dt>文档</dt>
      <dd><a href="http://i.youku.com/arrking">Demo</a></dd>
      <dd><a href="http://arrking.com/docs/">O2O解决方案</a></dd>
      <dd><a href="deck.arrking.com/decks/delivery-services-in-mobay/index.html">移动港湾</a></dd>
      <dd><a href="#">伏魔塔</a></dd>
      <dd><a href="http://mp.weixin.qq.com/wiki/17/2d4265491f12608cd170a95559800f2d.html"> 微信公众平台开发者文档</a></dd>
      <dd><a href="https://open.weixin.qq.com/cgi-bin/showdocument?action=dir_list&t=resource/res_list&verify=1&lang=zh_CN">微信开放平台</a></dd>
    </dl>

    <dl>
      <dt>社区</dt>
      <dd><a href="https://github.com/arrking">金矢代码库</a></dd>
      <dd><a href="http://forum.arrking.com/">金矢论坛</a></dd>
      <dd><a href="http://cordova.apache.org/">Apache Cordova</a></dd>
      <dd><a href="https://cnodejs.org/">CNode</a></dd>
      <dd><a href="http://forum.ionicframework.com/">Ionic Framework</a></dd>
      <dd><a href="http://www.activiti.org/community.html">Activiti</a></dd>
    </dl>

    <dl>
      <dt>服务供应商及合作伙伴</dt>
      <dd><a href="http://helloworld-cafe.com/">Hello World Cafe</a></dd>
      <dd><a href="http://mongolab.com/">MongoLab</a></dd>
      <dd><a href="http://cloudant.com/">Cloudant</a></dd>
      <dd><a href="http://aliyun.com">阿里云</a></dd>
      <dd><a href="http://qiniu.com/">七牛云存储</a></dd>
      <dd><a href="http://redislabs.com/">Redislabs</a></dd>
    </dl>

    <dl class="small-break">
      <dt>联系</dt>
      <dd><a href="#">价格</a></dd>
      <dd><a href="#">培训</a></dd>
      <dd><a href="#">投诉</a></dd>
      <dd><a href="#">工单</a></dd>
      <dd><a href="#">售后服务</a></dd>
      <dd><a href="#">人力资源</a></dd>
    </dl>

    <dl>
      <dt>社交网络</dt>
      <dd><a href="#">微信</a></dd>
      <dd><a href="#">微博</a></dd>
      <dd><a href="#">LinkedIn</a></dd>
      <dd><a href="#">QQ交流群</a></dd>
      <dd><a href="http://i.youku.com/arrking">Youku频道</a></dd>
      <dd><a href="#">Mailing List</a></dd>
    </dl>

  </nav>

  <div class="newsletter row">

    <div class="newsletter-container">

      <div class="col-sm-7">
        <div class="newsletter-text">保持联系</div>
        <div class="sign-up">接收最新资讯，请绑定您的电子邮箱。</div>
      </div>

      <form action="#" method="post" class="input-group col-sm-5">
        <input id="fieldEmail" name="cm-jytylh-jytylh" class="form-control" type="email" placeholder="邮箱" required />
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">订阅</button>
        </span>
      </form>

    </div>

  </div>

  <div class="copy">
    <div class="copy-container">
      <p class="authors">
         京ICP备 <a href="#">14051263</a> 号.
         京公网安备<a href="#">11010802016548</a>号 
        <span>|</span>
        &copy; 2015 <a href="http://arrking.com/">北京金矢科技有限公司</a>
      </p>
    </div>
  </div>

</footer>

<!--
<script type="text/javascript">
  var _sf_async_config = { uid: 54141, domain: 'ionicframework.com', useCanonical: true };
  (function() {
    function loadChartbeat() {
      window._sf_endpt = (new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    };
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
      loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>

-->