<nav class="navbar navbar-default horizontal-gradient" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle button ionic" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <i class="icon ion-navicon"></i>
      </button>
      <a class="navbar-brand" href="/">
        {% if page.header_logo %}
          {{ page.header_logo }}
        {% else %}
          <img src="/img/arrking-logo.png" width="223" height="43" alt="Ionic Framework">
        {% endif %}
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="docs-nav nav-link" href="/docs/">服务</a></li>
        <li><a class="examples-nav nav-link" href="/showcase/">用户案例</a></li>
        <li><a class="nav-link" href="http://forum.arrking.com/"  target="_blank">论坛</a></li>
        <li><a class="blog-nav nav-link" href="/blog/">博客 <span id="blog-badge">1</span></a></li>
      </ul>
    </div>
  </div>
</nav>
