
<div class="testimonials" id="testimonials">

  <div class="testimonial-content">

    <blockquote class="testimonial-0 active" data-testimonial="0">
      <p>
        2014年9月份，随着阿里天价IPO后，我难以抑制内心创业的冲动，虽然知道这是一条充满了挑战的路，但是，就这么让内心的呐喊淹没在周遭的质疑声中，我恐怕会后悔莫及，由此，辞掉了清闲的工作，第二天，便投入到研发金矢产品的任务中，历时六个月，终于上线了。
      </p>
      <footer style="background-image: url('http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/8/005/07b/217/263b170.jpg')">
        <cite>王海良</cite>
        <div>联合创始人 <a href="http://cn.linkedin.com/in/wanghailiang" target="_blank">金矢科技</a></div>
      </footer>
    </blockquote>

    <blockquote class="testimonial-1" data-testimonial="1">
      <p>
        金矢科技在短短十天的时间里，帮助我的企业上线了一个移动应用客户端加管理控制台，体验很棒，他们做的很专业，我所在的领域是能源行业，他们很快的领会了我的需求，这让我很吃惊，即使在硅谷，这样的效率也是少见的。
      </p>
      <footer style="background-image: url('http://png.clipart.me/graphics/thumbs/151/man-avatar-profile-picture-vector_151265384.jpg')">
        <cite>Jim</cite>
        <div>创始人&amp; CEO, 某资产管理企业
        </div>
      </footer>
    </blockquote>
    <blockquote class="testimonial-2" data-testimonial="2">
      <p>
        金矢科技技术积累扎实，创业团队由一群热血喷张的年轻人组成，起初，舒飞科技是包项目给他们，后来他们做的很好，那么，我就产生了和他们在更多层次合作的想法。
      </p>
      <footer style="background-image: url('http://m.c.lnkd.licdn.com/media/p/8/005/04b/164/382b283.jpg')">
        <cite>葛云飞</cite>
        <div>创始人&amp; CEO, <a href="http://www.bjsoway.com/">北京舒飞科技</a></div>
      </footer>
    </blockquote>


  </div>

</div>

<script>

  $(window).load(function(){
    var container = $('#testimonials');
    var quotes = container.find('blockquote');

    var activeQuote = 0;
    var timerId;

    function startTimeout() {
      timerId = setTimeout(start, 9000);
    }

    function start() {
      activeQuote++;
      if(activeQuote>=quotes.length) activeQuote = 0;
      quotes.removeClass('active');
      quotes.eq(activeQuote).addClass('active');
      startTimeout();
    }

    quotes.find('footer').click(function(){
      clearTimeout(timerId);
      quotes.removeClass('active');
      var blockquote = $(this).closest('blockquote');
      activeQuote = parseInt( blockquote.data('testimonial'), 10);
      blockquote.addClass('active');
      startTimeout();
    });

    startTimeout();

  });

</script>