<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta_tags.html %}
    <title>{{page.title}} - Ionic Framework</title>
    {% include head_includes.html %}
  </head>

  <body class="docs docs-page docs-home">

    {% include nav_links.html %}

    {% include header.html %}

    <div class="container content-container">

      <div class="row">

        <div class="col-md-2 col-sm-3 aside-menu">

          <div class="docked-menu">

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/overview/">概览</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/wechat/">微信公众号开发</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/erp/">ERP</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/bpm">业务流程开发</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/forum/">社区系统</a>
              </li>
            </ul>

            <ul class="nav left-menu">
              <li class="menu-title">
                <a href="/docs/eam/">基于RFID的资产管理</a>
              </li>
            </ul>

          </div>

        </div>

        <div class="col-md-10 col-sm-9 main-content">
          {{ content }}
        </div>

      </div>

    </div>

    <div class="pre-footer">

      <div class="row ionic">

        <div class="col-sm-6 col-a">
          <h4>
            <a href="/blog">我们的博客 <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            发布关于我们的那些事：专注于技术进步，产品创新，推动传统行业过度到互联网企业！
          </p>
        </div>

        <div class="col-sm-6 col-b">
          <h4>
            <a href="http://forum.arrking.com/">社区 <span class="icon ion-arrow-right-c"></span></a>
          </h4>
          <p>
            客户，合作伙伴，供应商与我们一起沟通的桥梁。对产品服务提问、反馈意见，分享在与我们合作过程中的点滴，浏览金矢的公告、招聘信息。
          </p>
        </div>

      </div>

    </div>

    {% include footer.html %}

    {% include base_scripts.html %}

  </body>
</html>
